{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tedbot/style.css' %}" />
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="header">
		<div id="logo">
			<h1>Elimu University</h1>
		</div>
		<div id="nav">
			<ul>
				<li><a href="#">Our Founders</a></li>
				<li><a href="#">About the school</a></li>
			</ul>
		</div>
	</div> 

	<div id="elimuwebcontent">
		<h2>Elimu's Financial Aid program</h2>
		<p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero esse molestias, itaque, quia sed laudantium laboriosam amet aliquam ipsam, laborum asperiores quod obcaecati, maiores fugiat nihil cum minus provident vitae. Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero esse molestias, itaque, quia sed laudantium laboriosam amet aliquam ipsam, laborum asperiores quod obcaecati, maiores fugiat nihil cum minus provident vitae. Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero esse molestias, itaque, quia sed laudantium laboriosam amet aliquam ipsam, laborum asperiores quod obcaecati, maiores fugiat nihil cum minus provident vitae. Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero esse molestias, itaque, quia sed laudantium laboriosam amet aliquam ipsam, laborum asperiores quod obcaecati, maiores fugiat nihil cum minus provident vitae.</p>

		<h3>Do you qualify</h3>
		<p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero esse molestias, itaque, quia sed laudantium laboriosam amet aliquam ipsam, laborum asperiores quod obcaecati, maiores fugiat nihil cum minus provident vitae. Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero esse molestias, itaque, quia sed laudantium laboriosam amet aliquam ipsam, laborum asperiores quod obcaecati, maiores fugiat nihil cum minus provident vitae. Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero esse molestias, itaque, quia sed laudantium laboriosam amet aliquam ipsam, laborum asperiores quod obcaecati, maiores fugiat nihil cum minus provident vitae. Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero esse molestias, itaque, quia sed laudantium laboriosam amet aliquam ipsam, laborum asperiores quod obcaecati, maiores fugiat nihil cum minus provident vitae.</p>
	</div>

	<div id="tedbot">
		<div id="tedbotheader"><h3>Elimu's newest member!</h3></div>
		<div id="tedbotbody">
			<p>Elimu university has just recently launched its new bot application to help students out!</p>
			<p>Tedbot is an artificial intelligence persona to answer your questions about the university.</p>
			<p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero esse molestias, itaque, quia sed laudantium laboriosam amet aliquam ipsam, laborum asperiores quod obcaecati,</p>
		</div>
	</div>
</body>
</html> 